body {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
}

#div_nome {
  width: 100%;
  background-image: url(../img/background_sinopse.png);
  height: 900px;
}

#div_nome h1 {
  margin-top: 80px;
  font-size: 60px;
  width: 900px;
  color: #162017;
}

#container_inp {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  font-size: 27px;
  font-family: Metropolis-black;
  justify-content: space-around;
  align-items: center;
}

.inp {
  border-radius: 15px;
  width: 300px;
  height: 60px;
  font-size: 30px;
  box-shadow: 0 5px 6px #c0b78d;
}


.container_background_teste {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/background_resultado_teste.png);
}



.question_display {
  width: 700px;
  height: 280px;
  background-color: #F2DD80;
  border-radius: 15px;
}

#container_answer_buttons {
  height: 360px;
  width: 900px;
  /* background-color: rgb(9, 255, 0); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#container_answer_buttons button {
  border-radius: 15px;
}



.but {
  height: 68px;
  width: 290px;
  border-radius: 40px;
  background-color: #162017;
  border: solid 2px #052F32;
  font-family: Metropolis-black;
  font-size: x-large;
  color: #F2DD80;
}



.but {
  font-family: Metropolis-black;
  height: 68px;
  width: 290px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  outline: none;
  color: #F2DD80;
  background-color: #162017;
  border: solid 2px #052F32;
  border-radius: 40px;
  box-shadow: 0 5px #7a7327;
}

.but:hover {
  background-color: #F2DD80;
  box-shadow: 0 3px #666;
  border: solid 2px #052F32;
  color: #162017;
}

#link_:hover {
  color: #162017;
}

.but:active {
  background-color: #baa95e;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
  border: none;
  color: #162017;
}


@font-face {
  font-family: Metropolis-black;
  src: url(../img/Metropolis-Black.otf);
}


.container_background_chart {
  width: 100%;
  height: 800px;
background-image: url(../img/background_3_minhahist.png) ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.display_chart {
  width: 850px;
  height: 550px;
  background-color:#F2DD80;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

#canva_size{
  width: 500px;
  /* background-color: aqua; */
  height: 550px;
  display: flex;
  align-items: center;
}

button a {
  color: #F2DD80;
  text-decoration: none;
}

.exibir {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 720px;
}

.exibir h1 {
  font-family: Metropolis-black;
  font-size: 40px;
  text-align: center;
}

.question_display {
  display: flex;
  align-items: center;
}


.display_answer {
  font-family: Metropolis-black;
  height: 40px;
  width: 790px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #052F32;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #7a7327;
}

.display_answer:hover {
  background-color: #F2DD80;
  color: #052F32;
}

.display_answer:active {
  background-color: #baa95e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#div_resultado {
  width: 900px;
  height: 900px;
  text-align: center;

}

#container_resultado_titulo {
  width: 100%;
}

#resultado_titulo {
  font-size: 60px;
}

#container_resultado_text {
  font-family: 'georgia';
  font-size: 22px;
  text-shadow: 1px 1px #504306;
  padding: 20px;
}


  