body{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}

*{
/* font-family: 'georgia'; */
}

.header
{
    /* div shape */
    width: 100%;
    height: 60px;
    background-color:#19241A ;
    border-radius: 15px;
    border: #162017 solid 2px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* text */
    color: #F2DD80 ;
    font-family: Metropolis-black;
    /* text-align: left; */
    font-size: xxx-large;
}

@font-face {
    font-family: Metropolis-black;
    src: url(../img/Metropolis-Black.otf);
  }

li{
    
    list-style: none;
    font-size: large;
    text-indent: 10px;
    
}

li a{
    color: #F2DD80;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;

}

.container_back_home{
    display: flex;
    width: 100%;
    height: 690px;
    background-image: url(../img/Screenshot_2.png);
    
}


.titulo{
    /* text */
    width: 500px;
    text-align: center;
    font-size: 50px;
    font-family: 'RoxboroughCF';
    color:  #F2DD80;
    position: absolute; 
	left: 420px; 
	top: 260px;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(66, 64, 8);
}

.word_flor{
color: #ac9c4f;
}

.caixa_text{
    background-color: rgba(11, 13, 11, 0.5);
    width: 600px;
}

.container_back_sinopse{
    /* div shape */
    background-image: url(../img/background_sinopse.png);
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.imagem_floresta{
    height: 330px;
    width: 330px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem_flor{
    height: 390px;
    width: 390px;
}

.container_back_historia{
    /* div shape */
    background-image: url(../img/background_3_minhahist.png);
    height: 700px;
    width: 100%;
}

.sinopse_text{
    /* div shape */
    height: 320px;
    width: 450px;
    /* background-color: blue; */
    /* text */
    font-family: 'georgia';
    font-size: x-large;
}

.imagem_livro{
    /* div shape */
    height: 500px;
    width: 370px;
    /* background-color: yellow; */
}

.imagem_liv{
    height: 500px;
    width: 370px;
}

.imagem_abertura_texto{
    -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(180deg);
}


.img_fechamento_texto{
    /* color: green; */
    height: 120px;
    width: 100px;
}

.container_texto{
    height: 520px;
    width: 450px;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* historia */

.container_back_historia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.div_titulo_hist{
    height: 140px;
    width: 600px;
    /* background-color: blue; */
    color: #F2DD80;
    font-family: Metropolis-black;
    font-size: 69px;
    text-shadow: 3px 3px #796407;
    padding: 20px;
}
.container_tit_text{
    height: 690px;
    width: 870px; 
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #F6E8BF;
}

.div_hist{
    height: 500px;
    width: 870px;
    /* background-color: purple;   */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_1_hist{
    height: 400px;
    width: 435px;
    /* background-color: red; */
        /* text */
        font-family: 'georgia';
        font-size: 22px;
        text-shadow: 1px 1px #504306;
}

.div_2_hist{
    height: 400px;
    width: 435px;
    /* background-color: yellow; */
            /* text */
            font-family: 'georgia';
            font-size: 22px;
            text-shadow: 1px 1px #504306;
            padding-left: 10px;
}

.cont_img_sun{
    height: 400px;
    width: 370px;
    background-color: green;
    align-self: flex-start;

}

.container_back_classes{
    display: flex;
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/background_4_classes);
}

.titulo_classe{
    height: 200px;
    width: 670px;
    /* background-color: green; */
font-family: Metropolis-black ;
font-size: 50px;
text-align: center;
padding-top: 40px;
}   

.conteudo_classe{
    height: 400px;
    width: 1270px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Metropolis-black;
    font-size: x-large;
    color: #19241A;

}
.div_mago{
    height: 400px;
    width: 300px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#img_book{
    height: 100px;
    width: 280px; 
}

.div_realeza{
    height: 400px;
    width: 300px;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#img_crown{
    height: 100px;
    width: 220px; 
}

.div_criatura{
    height: 400px;
    width: 300px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 23px;
}
#img_forest{
    height: 100px;
    width: 250px; 
}

.div_aldeao{
    height: 400px;
    width: 300px;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#img_sword{
    height: 100px;
    width: 300px; 
}

.classe_div{
    height: 260px;
    width: 270px; 
    border-radius: 20px;
    border: solid 2px #052F32;
    font-size: large;
    font-weight: 600;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#E6F4D0;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;

}


.botao_classe{
    height: 200px;
    width: 370px;
    /* background-color: red; */
    display: flex;
    align-items: center; /* vertical */
     justify-content: center; /* horizontal */
     
}




#but_teste{
    height: 68px;
    width: 290px;
    border-radius: 40px;
    background-color: #162017;
    border: solid 2px #052F32;
    font-family: Metropolis-black;
    font-size: x-large;
    color: #F2DD80;
}

#but_teste:hover {
    background-color: #F2DD80;
   color: #052F32;
}
  
  #but_teste:active {
    background-color: #baa95e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

a{
    text-decoration: none;
}

.container_back_contato{
    height: 690px;
    width: 870px; 
}

.container_back_contato{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 690px;
    background-image: url(../img/background_6_contato);
    
}

.contato_titulo{
    color:  #162017;
    text-align: center;
  text-shadow: 3px 0 #F2DD80, -3px 0 #F2DD80, 0 3px #F2DD80, 0 -3px #F2DD80,
    2px 2px #F2DD80, -2px -2px #F2DD80, 2px -2px #F2DD80, -2px 2px #F2DD80;
    letter-spacing: 9px;
    font-size: 65px;
    font-family: Metropolis-black;
    align-items: center; 
     justify-content: center; 

    margin-top: 50px;
}

.contato_subtitulo{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-family: Metropolis-black;
    align-items: center; 
    justify-content: center; 
}