body{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}

*{
/* font-family: 'georgia'; */
}

.header
{
    /* div shape */
    width: 100%;
    height: 60px;
    background-color:#19241A ;
    border-radius: 15px;
    border: #162017 solid 2px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* text */
    color: #F2DD80 ;
    font-family: Metropolis-black;
    /* text-align: left; */
    font-size: xxx-large;
}

@font-face {
    font-family: Metropolis-black;
    src: url(../img/Metropolis-Black.otf);
  }

li{
    
    list-style: none;
    font-size: large;
    text-indent: 10px;
    
}
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;

}

.container_back_home{
    display: flex;
    width: 100%;
    height: 690px;
    background-image: url(../img/Screenshot_2.png);
    
}


.titulo{
    /* text */
    width: 500px;
    text-align: center;
    font-size: 50px;
    font-family: 'RoxboroughCF';
    color:  #F2DD80;
    position: absolute; 
	left: 420px; 
	top: 260px;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(66, 64, 8);
}

.word_flor{
color: #ac9c4f;
}

.caixa_text{
    background-color: rgba(11, 13, 11, 0.5);
    width: 600px;
}

.container_back_sinopse{
    /* div shape */
    background-image: url(../img/background_sinopse.png);
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; /* !!!!!!!!!! mudar quando colocar mais imagens */
}

.imagem_floresta{
    height: 330px;
    width: 330px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem_flor{
    height: 390px;
    width: 390px;
}

.container_back_historia{
    /* div shape */
    background-image: url(../img/background_3_minhahist.png);
    height: 700px;
    width: 100%;
}

.sinopse{
    /* div shape */
    height: 320px;
    width: 450px;
    /* background-color: blue; */
    /* text */
    font-family: 'georgia';
    font-size: x-large;
}

.imagem_livro{
    /* div shape */
    height: 500px;
    width: 370px;
    /* background-color: yellow; */
}

.imagem_liv{
    height: 500px;
    width: 370px;
}

.imagem_abertura_texto{
    -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(180deg);
}


.img_fechamento_texto{
    /* color: green; */
    height: 120px;
    width: 100px;
}

.container_texto{
    height: 520px;
    width: 450px;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* historia */

.container_back_historia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.div_titulo_hist{
    height: 200px;
    width: 600px;
    background-color: blue;
}
.container_tit_text{
    height: 690px;
    width: 870px; 
    background-color: orangered;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.div_hist{
    height: 500px;
    width: 870px;
    background-color: purple;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_1_hist{
    height: 400px;
    width: 435px;
    background-color: red;
        /* text */
        font-family: 'georgia';
        font-size: 22px;
        text-shadow: 1px 1px rgb(108, 106, 78);
}

.div_2_hist{
    height: 400px;
    width: 435px;
    background-color: yellow;
            /* text */
            font-family: 'georgia';
            font-size: 22px;
            text-shadow: 1px 1px rgb(108, 106, 78);
}

.cont_img_sun{
    height: 400px;
    width: 370px;
    background-color: green;
    align-self: flex-start;

}